body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  background: #f9f9f9;
  color: #111;
}
img {
  max-width: 100%;
  border-radius: 8px;
}
button, a {
  transition: all 0.3s;
}
a:hover {
  opacity: 0.9;
}
